@model Product

<h2>@Model.Name</h2>
<img src="@Model.CoverImage" alt="@Model.Name" />
<p>@Model.Description</p>
<p>Price: $@Model.Price</p>
<img src="@Model.AdditionalImage1" alt="Additional Image 1" />
<img src="@Model.AdditionalImage2" alt="Additional Image 2" />
